<%- include("header", {}) %>
    <div id="chatWrapper" class="chat-wrapper">
        <div id="chatMessages" class="messages"></div>
        <div class="chat-form">
        <input id="messageInput" class="chat-input" placeholder="Escribe un mensaje..." autocomplete="off">
        <button id="sendBtn" class="chat-send-btn">Enviar</button>
        </div>
    </div>
</body>
</html>